[mysqld]
#####################
#mysql settings
#####################

log_bin=1
log_slave_updates=1
sync_binlog=1
binlog_format=ROW

default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_size=1M
query_cache_type=OFF

innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=256M

bind-address=0.0.0.0

#####################
# Galera settings
#####################
wsrep_provider=/usr/lib/libgalera_smm.so
wsrep_cluster_name="epsicluster"
# cette fois ci on renseigne bien
# toutes les IPs des membres du cluster
# dès le début
wsrep_cluster_address="gcomm://10.200.11.31,10.200.11.32"
wsrep_sst_auth=sst_backup:supermotdepasse
wsrep_sst_method=rsync
wsrep_on=ON
wsrep_node_address="10.200.11.32"
wsrep_node_name="epsi-sql2.ducruet.info"